h3
{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-right: 76%;
    margin-left: 5px;
}

h4{
    color: seagreen;
    font-family: 'Open Sans', sans-serif;
    size: 18px;
}

h5{
    padding-left: 40px;
}

.nav-wrapper .input-field input[type=search] {
    height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }


.wrapper {
  border-top: 10px;
  display: grid;
  justify-items: center;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #eee;
  color: #000;
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  font-size: 100%;
  
}


a{
    color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    margin-left: 5px;
}

nav{
    background-color: teal;
}

img{
margin-top: 50px;
grid-row: 1;
grid-column: 2;
}

.lixoe{
   grid-row: 1;
}

.center{
    display: grid;
    width: 1350px;
    height: 500px;

}

.cadastro-box{
    display: flex;
    justify-content: center;
}
.row{
    margin: 30px;
}

.button{
    display: flex;
    justify-content: center;
}

.flex{
    margin: 30px;
    border: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
}


.text-footer{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    size: 18px;
    padding: 10px 10px;
    grid-row: 1/2;
    grid-column: 2/2;
}

.copyright{
    color: #000;
    grid-row: 2/2;
    grid-column: 2;
    padding-left: 50px;
}

.button{
    padding-bottom: 40px;
}

footer{
     background-color: teal;
     align-items: center;
     display: grid;
     grid-template-columns: 550px 500px 400px;
     align-items: center;
}